<form [formGroup]="form" class="step-form" (ngSubmit)="goNext()">
  <div formArrayName="experiences">
    <div *ngFor="let experience of experiences.controls; let index = index" class="repeat-row" [formGroupName]="index">
      <div class="row align-items-end">
        <div class="col-12 col-md-4">
          <app-form-field label="Company Name" [control]="experience.get('companyName')">
            <input class="form-control" formControlName="companyName" />
          </app-form-field>
        </div>
        <div class="col-12 col-md-4">
          <app-form-field label="Job Title" [control]="experience.get('jobTitle')">
            <input class="form-control" formControlName="jobTitle" />
          </app-form-field>
        </div>
        <div class="col-12 col-md-3">
          <app-form-field label="Duration" [control]="experience.get('duration')">
            <input class="form-control" formControlName="duration" placeholder="Jan 2022 - Present" />
          </app-form-field>
        </div>
        <div class="col-12 col-md-1">
          <button
            type="button"
            class="btn btn-outline-danger row-action"
            (click)="removeExperience(index)"
            [disabled]="experiences.length === 1"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline-primary" (click)="addExperience()">Add Experience</button>

  <div class="wizard-actions">
    <button type="button" class="btn btn-outline-secondary" (click)="goPrevious()">Previous</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Next</button>
  </div>
</form>

